div{
    display: block;
}
.sidebar{
    display: inline;
    float: left;
    margin-left: 200px;
    margin-right: 10px;
    width: 250px;

}

.company_name_tag{
    width: 250px;
    padding: 15px 15px 20px;
    background-color: #ffffff;
    border: solid 1px #dcdcdc;
    border-bottom-width: 2px;
    border-radius: 2px;
    margin-top: 30px;
}

.company_heading{
    margin: 0 auto 9px;
    padding-left: 3px;
    padding-bottom: 10px;
    border-bottom: 1px solid #dcdcdc;
    text-align: left;
    font-size: 15px;
    color: #454545;
    line-height: 20px;
}

.company_body_img{
    margin-top: 17px;
    padding-left: 0px;
}

#company_img_con{
    width: 220px;
    height: 220px;
}

.company_img{
    width: 218px;
    height: 218px;
    padding-left: 10px;
}

.userid{
    margin-top: 0px;
    text-align: center;
}

.sidebar_bot{
    list-style: none;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    border-bottom-width: 2px;
    padding: 4px 8px;
    background-color: #ffffff;
    width: 265px;
}

.sidebar_list{
    text-align: center;
    height: 20px;
    padding: 4px 0;
}

.sidebar_info,.sidebar_card{
    border-radius: 2px;
    /* display: block; */
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
    text-decoration: none;
    color: black;
}
.content{
    border: 1px solid #dcdcdc;
    display: inline;
    float: left;
    margin-left: 50px;
    margin-right: 10px;
    width: 790px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content_inner{
    padding-top: 15px;

}
section{
    display: block;
}

.mypage_info{
    height: 230px;
    padding-top: 2px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #dcdcdc;
}

.mypage_project{
    height: 230px;
    padding-top: 2px;
    margin-bottom: 30px;
    border-bottom: 1px dashed #dcdcdc;
}

.mypage_user{
    height: 230px;
    padding-top: 2px;
    margin-bottom: 30px;
   /*  border-bottom: 1px dashed #dcdcdc; */
}



.info_title,.project_title{
    margin-top: 10px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    line-height: 1;
    margin-left: 20px;
}

.info_button,.project_button{
    margin-top: -7px;
    color:#fff;
    background-color: #0f4c81;
    border-color: #0f4c81;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 2px;
    float: right;
    margin-right:15px;
    text-decoration: none;
}

.mypage_info_img{
    width: 50px;
    height: 50px;
    text-align: center;
}

.info_title_content,.project_container{
    text-align: center;
    margin-top: 30px;
}

.mypage_info_ment{
    font-size: 0.8em;
}

.mypage_img{
    width: 20px;
    height: 20px;
    float: right;
}
.main_img{
    width: 20px;
    height: 20px;
    float: right;
    padding-left: 5px;
    padding-top: 2px; 
}

#intro_title {
	font-size:18px;
	color:#0f4c81;
	font-weight:900;
}